
{{#each perfil}}
<div class="container flex">
    <ul>
        <li><img class="profpic hoverable" src="/uploads/{{this.image}}"></li>
        <li>{{this.name}}</li>
        <li>{{this.mail}}</li>
    </ul>
</div>
{{/each}}

<div class="container ">
    {{#each requests}}
    <div>
        
        <span>Tienes una solicitud por parte de {{this.req}}, le interes el libro {{this.book}}</span>
        <form method="post" action="/acceptrequest" onsubmit="return confirm ('¿Deseas aceptar el intercambio de {{this.book}} con {{this.req}}?');">
        <input value="{{this.req}}" type="text" name="name" style="display: none">
        <input value="{{this._id}}" type="text" name="id" style="display: none">
        <button class="waves-effect waves-light btn pink darken-1">Aceptar</button>
        </form>
        <button class="waves-effect waves-light btn pink darken-1">Rechazar</button>
        
    </div>
    {{/each}}
</div>

<div class="container ">
    <div>
        <span></span>
    </div>
</div>

